

h2 {
    font-family: Arial, Verdana;
    font-weight: 800;
    font-size: 4vw;
    color: #091f2f;
    text-transform: uppercase;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

 
  html {
    scroll-behavior: smooth;
  }

  body{
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;

    background-image:url('https://i.imgur.com/Shrtukx.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: lightblue;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;

  }
  
  #myBtn:hover {
    background-color: #555;
    color: white;
  }

  
.faq-nav {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  border-top-left-radius:10px;border-top-right-radius:10px;
  border-bottom-left-radius:10px;border-bottom-right-radius:10px;
}
.faq-nav .nav-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color: #DCF0F7;;
  border: 0;
  border-bottom: 1px solid black;
  border-radius: 0;
  color: #616161;
  transition: background-color 0.2s ease;
  
}
.faq-nav .nav-link:hover {
  background-color: #f6f6f6;
  
}
.faq-nav .nav-link.active {
  background-color: #f6f6f6;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  
}
.faq-nav .nav-link:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0;
  
}
.faq-nav .nav-link i.mdi {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
}

.tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  border: 2px solid black;
  border-radius: 10px;
  
}
.tab-content .card {
  border-radius: 0;
  
  
}
.tab-content .card-header {
  padding: 15px 16px;
  border-radius: 0;
  background-color: #DCF0F7;;
  
}
.tab-content .card-header h5 {
  margin: 0;
}
.tab-content .card-header h5 button {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  white-space: normal;
}
.tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
  text-decoration: none;
}
.tab-content .card-body p {
  color: #616161;
}
.tab-content .card-body p:last-of-type {
  margin: 0;
}

.accordion > .card:not(:first-child) {
  border-top: 0;
}

.collapse.show .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
@font-face { font-family: Malvie; src: url('Malvie.otf'); } 
@font-face { font-family: Coolvetica; src: url('coolvetica\ rg.ttf'); } 
@font-face { font-family: Plumpfull; src: url('Plumpfull.ttf'); } 
@font-face { font-family: Hind; src: url('HindSiliguri-Regular.ttf'); } 
p{
  font-family: Coolvetica;
}
h1{
  font-family: Plumpfull;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0,1);
}
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}